<form method="post" action="{{ path('admin_classe_supprimer', {'id': classe.id}) }}" onsubmit="return confirm('Etes vous  sur de vouloir supprimer cette classe?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classe.id) }}">
    <button class="btn btn-danger"><strong style="color: white;">Delete</strong></button>
</form>
