<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
       
        <link rel="shortcut icon" href="assets/img/favicon.png">

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">

        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="assets/plugins/feather/feather.css">

        <link rel="stylesheet" href="assets/plugins/icons/flags/flags.css">

        <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="assets/css/style.css">


        {% block javascripts %}
            <script src="assets/js/jquery-3.6.0.min.js"></script>

            <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script src="assets/js/feather.min.js"></script>

            <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

            <script src="assets/plugins/apexchart/apexcharts.min.js"></script>
            <script src="assets/plugins/apexchart/chart-data.js"></script>

            <script src="assets/js/script.js"></script>

        
     {% endblock %}  
    </head>
    <body>
        
          
        {% if app.user %}
        
            {% if app.user.fonction=='Admin' %}
                {% include "_partiels/_nav.html.twig" %}
            {% elseif app.user.fonction=='Directeur' %}
                {% include "_partiels/_navDirecteur.html.twig" %}
            {% elseif app.user.fonction=='Secretaire' %}
                {% include "_partiels/_navSecretaire.html.twig" %}    
            {% else %}
            {% elseif app.user.fonction=='Secretaire' %}
                {% include "_partiels/_navComptable.html.twig" %} 
                <p></p>
            {% endif %}    
        {% endif %}    
            
            {% block body %}{% endblock %}
                               
                       
                       
    </body>
</html>
