<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
            <link rel="stylesheet" href="vendor/jqvmap/css/jqvmap.min.css">
            <link rel="stylesheet" href="vendor/chartist/css/chartist.min.css">
            <!-- Summernote -->
            <link href="vendor/summernote/summernote.css" rel="stylesheet">
            <link rel="stylesheet" href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/skin-3.css">
        {% endblock %}

        

        {% block javascripts %}
            <script src="vendor/global/global.min.js"></script>
            <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
            <script src="js/custom.min.js"></script>
            <script src="js/dlabnav-init.js"></script>	
            
            <!-- Chart sparkline plugin files -->
            <script src="vendor/jquery-sparkline/jquery.sparkline.min.js"></script>
            <script src="js/plugins-init/sparkline-init.js"></script>
            
            <!-- Chart Morris plugin files -->
            <script src="vendor/raphael/raphael.min.js"></script>
            <script src="vendor/morris/morris.min.js"></script> 
            
            <!-- Init file -->
            <script src="js/plugins-init/widgets-script-init.js"></script>
            
            <!-- Demo scripts -->
            <script src="js/dashboard/dashboard.js"></script>
            
            <!-- Summernote -->
            <script src="vendor/summernote/js/summernote.min.js"></script>
            <!-- Summernote init -->
            <script src="js/plugins-init/summernote-init.js"></script>
            
            <!-- Svganimation scripts -->
            <script src="vendor/svganimation/vivus.min.js"></script>
            <script src="vendor/svganimation/svg.animation.js"></script>
            <script src="js/styleSwitcher.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
