<form method="post" action="{{ path('secretaire_eleve_supprimer', {'id': eleve.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimez cet eleve?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eleve.id) }}">
    <button class="btn">Delete</button>
</form>
